@{
    var controller = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower() ?? String.Empty;
    var area = ViewContext.RouteData.Values["area"]?.ToString()?.ToLower() ?? String.Empty;
}

<div class="navbar-nav">
    <a class="nav-item nav-link @(controller == "home" ? "active" : "")" asp-controller="Home" asp-action="Index">Лб 1</a>
    <a class="nav-item nav-link @(controller == "product" ? "active" : "")" asp-controller="product" asp-action="Index">Каталог</a>
   
    @if (User.Identity?.IsAuthenticated == true)

    {
        <a class="nav-item nav-link @(controller == "cart" ? "active" : "")" asp-controller="Cart" asp-action="ViewCart">Корзина</a>
    }

    @if (User.IsInRole("POWER-USER"))
    {
        <a class="nav-item nav-link @(area == "admin" ? "active" : "")" href="/Admin/Index">Администрирование</a>
    }
</div>
