@{
    ViewBag.Title = "Index";
}

<h1>@ViewData["TitleText"]</h1>

<h3>Список элементов</h3>
<ol type="A">
    @for (int i = 1; i <= 5; i++)
    {
        <li>Элемент @i списка</li>
    }
</ol>

<h3>Форма</h3>
<form method="post">

    <div class="mb-3">
        <label for="selectList" class="form-label">Выберите элемент:</label>
        <select class="form-select" asp-items="ViewBag.ListItems" id="selectList" name="selectList">
        </select>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkbox1" name="checkbox1">
        <label class="form-check-label" for="checkbox1">Чек-бокс 1</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkbox2" name="checkbox2">
        <label class="form-check-label" for="checkbox2">Чек-бокс 2</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" id="radio1" name="radioGroup" value="radio1">
        <label class="form-check-label" for="radio1">Радио-1</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" id="radio2" name="radioGroup" value="radio2">
        <label class="form-check-label" for="radio2">Радио-2</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" id="radio3" name="radioGroup" value="radio3">
        <label class="form-check-label" for="radio3">Радио-3</label>
    </div>

    <div class="mb-3 mt-3">
        <label for="login" class="form-label">Логин:</label>
        <input type="text" class="form-control" id="login" name="login" placeholder="Введите имя">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Пароль:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль">
    </div>

   

    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
